/*---------------------------------------------------------------------------------------------
 * Copyright © Bentley Systems, Incorporated. All rights reserved.
 * See LICENSE.md in the project root for license terms and full copyright notice.
 *--------------------------------------------------------------------------------------------*/

.App {
  text-align: center;
  margin: 20px auto;
  height: max-content;
  padding: 20px 30px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.components-signin {
  font-family: Arial;
  width: 275px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.components-signin-content {
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 1.75em;
}

.icon {
  top: 0;
  left: 50%;
  font-size: 5em;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: underline;
  margin-left: 0.5em;
  color: #3d08a1;
  cursor: pointer;
}

a:hover {
  color: #6e40c7;
}

a:active {
  color: #3d08a1;
}

header {
  background-color: #282c34;
  text-align: center;
}

header button {
  width: 100px;
  margin: 10px !important;
}

.container {
  text-align: center;
  font-size: large;
  margin: 20%;
}

.behaviour-func {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
}

.buttons {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}

.iui-backdrop {
  height: 1860.78px !important;
}

.iui-toggle-switch-wrapper {
  margin: 5px 0px !important;
}

/* .iui-dialog-default {
  max-width: 430px !important;
  min-width: 430px !important;
} */

.table-top-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-top-left {
  display: flex;
  flex-direction: row;
}

.table-top-right {
  display: flex;
}

.mainBox {
  display: flex;
  justify-content: center;
}

.iui-modal>.iui-modal-dialog {
  max-width: 80% !important;
  width: MAX-CONTENT !important;
}

.behaviour-prop {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.iui-tab {
  margin: 0px !important;
}

.behaviour-area {
  margin-left: 30px;
  width: 400px;
}

.tab-label {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.cancel-button {
  width: 14px;
  height: 16px;
  margin: auto;
  padding: 2px;
}

.cancel-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.iui-tabs.iui-borderless .iui-tab {
  padding: 0 10px !important;
  background-color: transparent !important;
}

.add-button {
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 2px;
}

.add-button:hover {
  cursor: pointer;
}

.behaviour-area>div:nth-child(n+2) {
  border: solid rgba(0, 0, 0, 0.5) 0.1px;
}

.basic-prop {
  width: 330px;
}

.behaviour-value {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.behaviour-value>* {
  margin-right: 5px;
}

.behaviour-value>:last-child {
  margin-right: 0px;
}

.iui-modal>.iui-modal-dialog {
  max-height: 100%;
}

.basic {
  margin-bottom: 15px;
}

.iui-modal>.iui-modal-dialog {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.iui-tabs~.iui-tabs-content {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.behaviour-list {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 2px;
}

.labels {
  width: 300px;
}

.iui-tabs-wrapper.iui-horizontal {
  height: 355.8px;
}

.iui-tabs.iui-default~.iui-tabs-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.iui-cell{
  border-right: solid thin lightgray;
}

.iui-modal-dialog{
  overflow: scroll;
}

/* .option {
  width: 274px;
  height: 28px;
  margin: 5px 0px;
} */

.scrollBarStyle {
  display: block;
  overflow: auto;
  max-height: 30vh;
}

.border-div{
  border-bottom: solid thin lightgray;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  padding: 10px 0px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  border-bottom: hidden;
}

.first {
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  text-align: center;
  width: 13vb;
  align-items: center;
  justify-content: center;
  display: flex;
  border: solid thin lightgray;
  border-right: hidden;
}

.second {
  flex-basis: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.divMarginTop{
  margin-top: 10px;
}

.viewStyle{
min-width: 35vw;
min-height: 72.3vh;
}

.add-device-window{
  width: 100%;
}

.icon-button-style{
  align-items: center;
  align-self: center;
}

.remove-left-margin-button{
  margin-left: 0px !important;
}

button {
  margin: 10px !important;
}